@media screen and (max-width: 87.5em) {
	.home-blog-title {
		margin: 0;
	}

	.blog-container .read-more-red {
		margin-top: 0;
	}
}


@media screen and (max-width: 68em) {
	
	body {
		font-size: 0.8em;
	}

	header {
		left: 0;
		right: 0;
	}

	.l-container {
		width: 60%;
	}

}

@media screen and (max-width: 58em) {
	body {
		font-size: 0.7em;
	}	

	header {
		height: 3.5rem;
	}

	.nav-icon {
		display: block;
	}

	nav {
		display: none;
	}

	.logo-wrapper {
		width: 80%;
	}

	.grid-25 {
		width: 33.333333%;
	}

	.l-container {
		width: 80%;
	}

	.set-padding-15 {
	padding: 0 5%;
}
}

@media screen and (max-width: 48em) {
	
	.grid-container, .blog-container {
		display: flex;
		flex-direction: column;
		height: 50em;
	}

	.grid-container-hide {
		display: block;
		height: 25em;
	}

	.grid-70 {
		width: 100%;
		height: 25em;
		padding: 2em 2em;
	}

	.grid-30 {
		width: 100%;
		height: 25em;
		padding: 2em 2em;
	}

	.grid-25 {
		width: 50%;
	}

	/*.grid-25-2 {
		width: 30%;
	}*/

	.grid-50 {
		width: 70%;
	}

	.home-easel {
		display: none;
	}

	.col-1-4 {
		margin-right: 2em;
	}

	.home-jugs {
		order: -1;
	}

	.home-blog {
		flex-direction: column;
	}

	.col-1-4 {
		text-align: left;
	}

	.col-3-4 {
		padding: 0;
	}

	.blog-date {
		display: flex;
	}

	.blog-container {
		height: 65em;
		background-color: #FBFBFB;
	}

	.home-blog-title {
		margin: 0.5em 0;
	}

	.l-container {
		width: 90%;
	}

	.subscribe-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 10em;
	}

	.subscribe-input {
    	width: 100%;
    	margin-bottom: 1em;
    }

    .subscribe-submit {
	    width: 25%;
	}

	.site-info {
        margin-top: 3em;
    }

    .footer-nav {
    	flex-direction: column;
    	margin: 1em auto;
    }

    footer {
    	padding-top: 5em;
    }

	/*.module {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 100%;
	}*/
	.blog-container-2 {
		display: flex;/*
		flex-direction: column;*/
	}

	/*.scale-container {
		padding-bottom: 25%;
		position: absolute;
		left: 0;
		top: 0;
	}*/

	.scale-wrapper {
		/*top: -100%;*/
	}

	.date-wrapper {
		background-color: none;
	}

	.blog-content {
	}

	.blog-content p {
		display: none;
	}

	.date-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.date-wrapper .blog-day {
		font-size: 3em;
	}

	.date-wrapper .blog-month {
		font-size: 1.5em;
	}

	.blog-content .home-blog-title {
		font-size: 1.5em;
	}

	.blog-content .read-more-red {
		display: none;
	}

	.blog-nav {
		width: 100%;
	}

	/*.in-wrapper img {
		display: none;
	}*/

	#disable {
		display: none;
	}

	#m-width-100 {
		width: 100%;
	}

	.h3.small-title {
		padding: 0 2em;
	}

	.full-wrapper {
		flex-direction: column;
	}

	.last-order {
		order: 1;
	}

	.m-height-30 {
		padding-bottom: 32em;
	}

	.m-height-15 {
    	padding-bottom: 14em;
	}

	.m-height-25 {
    	padding-bottom: 20em;
	}

}

@media screen and (max-width: 28em) {
	h1.big-title {
		font-size: 3em;
	}

	h3.small-title {
    	font-size: 1.5em;
	}

	.large-heading {
		font-size: 3.5em;
	}

	.medium-heading {
		font-size: 3em;
	}
}