

@media screen and (max-width: 68em) {
	
	body {
		font-size: 0.8em;
	}

	header {
		left: 0;
		right: 0;
	}

}

@media screen and (max-width: 58em) {
	body {
		font-size: 0.7em;
	}	

	header {
		height: 3.5rem;
	}

	.nav-icon {
		display: block;
	}

	nav {
		display: none;
	}

	.logo-wrapper {
		width: 80%;
	}

	.grid-25 {
		width: 33.333333%;
	}
}

@media screen and (max-width: 48em) {
	
	.grid-container, .blog-container {
		display: flex;
		flex-direction: column;
		height: 50em;
	}

	.grid-container-hide {
		display: block;
		height: 25em;
	}

	.grid-70 {
		width: 100%;
		height: 25em;
		padding: 2em 2em;
	}

	.grid-30 {
		width: 100%;
		height: 25em;
		padding: 2em 2em;
	}

	.grid-25 {
		width: 50%;
	}

	.home-easel {
		display: none;
	}

	.col-1-4 {
		margin-right: 2em;
	}

	.home-jugs {
		order: -1;
	}

	.home-blog {
		flex-direction: column;
	}

	.col-1-4 {
		text-align: left;
	}

	.col-3-4 {
		padding: 0;
	}

	.blog-date {
		display: flex;
	}

	.blog-container {
		height: 65em;
		background-color: #FBFBFB;
	}

	.home-blog-title {
		margin: 0.5em 0;
	}

	.subscribe-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 10em;
	}

	.subscribe-input {
    	width: 100%;
    	margin-bottom: 1em;
    }

    .subscribe-submit {
	    width: 25%;
	}

	.site-info {
        margin-top: 3em;
    }

    .footer-nav {
    	flex-direction: column;
    	margin: 1em auto;
    }

    footer {
    	padding-top: 5em;
    }

	/*.module {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 100%;
	}*/

}

@media screen and (max-width: 28em) {
	h1.big-title {
		font-size: 3em;
	}
}