/* Reset */
* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-weight: normal;
}

/* Font */
@font-face {
    font-family: 'Marbre';
    src: url('../fonts/Marbre.eot');
    src: url('../fonts/Marbre.eot') format('embedded-opentype'),
         url('../fonts/Marbre.woff2') format('woff2'),
         url('../fonts/Marbre.woff') format('woff'),
         url('../fonts/Marbre.ttf') format('truetype'),
         url('../fonts/Marbre.svg#Marbre') format('svg');
}

@font-face {
    font-family: 'Marbre-Sans';
    src: url('../fonts/MarbreSans.eot');
    src: url('../fonts/MarbreSans.eot') format('embedded-opentype'),
         url('../fonts/MarbreSans.woff2') format('woff2'),
         url('../fonts/MarbreSans.woff') format('woff'),
         url('../fonts/MarbreSans.ttf') format('truetype'),
         url('../fonts/MarbreSans.svg#MarbreSans') format('svg');
}

/* General */

body {
	font-size: 1em;
	width: 100%;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: white;
	position: relative;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

h1.big-title {
	display: inline;
	font-size: 4.5em;
	font-family: 'Marbre-Sans', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom: 3px solid white;
	padding: 0 0.2em 0.1em;
}

h2.big-title {
	font-size: 3em;
	font-family: 'Marbre', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2.small-title {
	font-weight: bold;
	font-size: 1.75em;
}

h3.big-title {
	font-size: 1.5em;
	font-family: 'Marbre-Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3.small-title {
	font-size: 1.75em;
}

p {
	font-size: 1.25em;
}

.large-heading {
	font-size: 4.5em;
	font-family: 'Marbre-Sans', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #E87058;
}

.medium-heading {
	font-size: 3.5em;
	font-family: 'Marbre-Sans', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: .3em;
}

a.read-more, a.read-more-red {
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    /* display: block; */
    padding-top: 0;
    /* width: 6em; */
    padding: 0.2em 0.5em;
    margin-top: 1em;
    margin-left: -0.6em;
    border: 2px solid rgba(0, 0, 0, 0);
}

a.read-more-red {
	color: black;
}

a.read-more:hover {
	border: 2px solid white;
}

a.read-more-red:hover {
	border: 2px solid #E87058;
}

/* Animation Effect */
.image-hover {
	position: relative;
	overflow: hidden;
}

.image-hover:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #282828;
    transition: opacity 0.3s linear;
}

.module {
	position: relative;
	z-index: 2;
}

.image-hover:hover:before {
	opacity: 0.7;
}


/* Header */

header {
	display: flex;
	max-width: 68rem;/*
	width: 100%;*/
	height: 4.375rem;
	margin: 0 auto;
	background-color: #2A1F26;/*
	position: relative;
	top: 0;
	z-index: 300;*/
	position: fixed;/*
	top: 2rem;*/
	left: 1%;
	right: 1%;
	z-index: 10;
}

.nav-icon {
	font-size: 2.3rem;
    padding: 0.4rem 1.8rem;
	display: none;
	/*position: relative;
	z-index: 2;*/
}


.logo-wrapper {
	width: 18rem;
	display: flex;
	align-items: center;
}

.header-logo{
	width: 10rem;
	margin: 0 auto;

}

img {
	max-width: 100%;
}

/* Main Navigation */
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50rem;
	padding-right: 2rem;
}

ul.menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 1.5rem;
	padding-left: 0;
	
	margin: 0;
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav a {
	opacity: 0.7;
	transition: opacity 0.3s;
}

nav a:hover {
	opacity: 1;
}

/* Slide Menu */
.slide-menu {
	position: fixed;
	/*top: 3.5rem;*/
	left: -18rem;
	height: 100%;
	width: 18rem;
	background-color: #2A1F26;
	transition: all .5s ease;
	transform: rotateY(-90deg);
}

.slide-menu-bar {
	font-size: 1.5rem;
	margin-top: 2.35em;
	padding: 0;
}

.slide-menu-bar li a {
	line-height: 2em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 0.5em 3em;
    display: block;
    margin-bottom: -1px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #2A1F26;
    transition: color 0.3s, background-color 0.3s;
}

.slide-menu-bar li a:hover {
	color: rgba(255, 255, 255, 1);
	background-color: #0f0b0e;
}

.site-wrapper {
	width: 100%;
    position: relative;
    overflow: hidden;
    /*background-color: #1A181B;*/
}

.site-canvas {
	transform: translateX(0);
	transition: all .5s ease;
}

.site-wrapper.display-nav .site-canvas {
	transform: translateX(18rem);
}

.site-wrapper.display-nav .slide-menu {
	transform-origin: 100% 50%;
	transform: perspective(600px) rotateY(0deg);

}

/* Main Banner */
.full-section {/*
	position: relative;
	top: -4.375em;*/
	width: 100%;
	height: 47.5em;
	background-image: url("../images/still-life-self-portrait.jpeg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-title {
	/*width: 100%;*/
	text-align: center;
}

/* Grid */
.grid-container, .grid-container-hide, .blog-container {
	display: flex;
	width: 100%;
	height: 25em;/*
	position: relative;
	top: -4.375em;*/
}

.grid-70 {
	width: 70%;
	padding: 2.35em 4.375em;
}

.grid-70-2 {
	width: 70%;
}

.grid-30 {
	width: 30%;
	padding: 2.35em 2.375em;
}

.grid-30-2 {
	width: 30%;
}

.grid-40 {
	width: 40%;
}

.grid-50 {
	width: 50%;
}

.grid-100 {
	width: 100%;
}

.grid-25 {
	width: 25%;
}

.grid-25-2 {
	width: 25%;
}

/* Full Section */
.module {

}

.home-story {
	background: #87614E;
}

.home-easel {
	background-image: url("../images/Frances-Hodgkins-at-her-easel_600.jpg");
	background-size: cover;
}

.home-wings {
	background-image: url("../images/wings-over-water_home.jpg");
	background-size: cover;
}

.home-double {
	background-image: url("../images/Double-portrait-No_home.jpg");
	background-size: cover;
}

.home-jugs {
	background-image: url("../images/Arrangement-of-jugs_home.jpg");
	background-size: cover;
}

/* Content */
.home-blog {
	display: flex;
	color: #000;
}

.home-blog-color {
	background-color: #FBFBFB;
}

.col-1-4 {
	margin-right: 6em;
	text-align: center;
}

.col-3-4 {
	padding-top: 1em;
}

.home-blog-title {
	margin-bottom: 2em;
}

.blog-day {
	font-size: 6em;
	font-family: 'Marbre', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #E87058; 
	margin: 0;
}

.blog-month {
	font-size: 2.25em;
	font-family: 'Marbre', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Featured in Collection */
/*.featured {
	display: flex;
	flex-wrap: wrap;
}*/

/*.image-container {
	position: relative;
	height: 0;
	padding-bottom: 30%;
}*/

/*.image-container img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}*/

/*.image-container h2 {
	position: absolute;
	z-index: 3;
	text-align: center;
	width: 100%;
	height: 1.1em;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	overflow: auto;
}*/

.search {
	background-color: #2A1F26;
	/*background-color: #D6A76F;*/
	padding: 2% 0;
}

/* Gallery */
.gallery-container {
	display: flex;
	flex-wrap: wrap;
}

.bg-container {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	display: inline-block;
	overflow: hidden;
}

.bg-container img {
	transition: transform .3s ease;
}


.bg-container:hover img {
	transform: scale(1.1);
}

/*.bg-container:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #282828;
    transition: opacity 0.3s linear;
}
*/
/*.bg-container:after {
	content: 'View Artwork';
	color: white;
	font-size: 1.2em;
	position: absolute;
	z-index: 10;
	text-align: center;
	width: 100%;
	height: 1.1em;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	overflow: auto;
}*/

/*.bg-container:hover:before {
	opacity: 0.3;
}*/


.info-container {
	background-color: #1A181B;
	padding: 1em 1em 2em 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 12em;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: -0.3em;
}

.info-container a:hover {
	color: #E87058;
    font-weight: bold;
}

/* Feature */
.content-wrapper {
	max-height: 47.5rem;
	background-color: #1A181B;
	padding-bottom: 3em;
}

.view-container {
	max-width: 68rem;
	margin: 0 auto;
	padding-top: 7em;
	padding-bottom: 2em;
	padding-left: 2em;
}

.view-container a {
	font-size: 1.2em;
}

.view-container a:hover {
	color: #E87058;
}

.image-container {
	max-height: 34rem;
	margin: 0 auto;
	text-align: center;
}


.image-container img {
	height: auto;
	max-height: 34rem;
	max-width: 100%;
	display: inline-block;
	
}

.l-container {
	color: #000;
	width: 50%;
	max-width: 68rem;
	margin: 0 auto;
}

.painting-info {
	height: 15em;
	font-size: 1.25em;
}


.painting-info-row {
	display: block;
	margin: 0;
	line-height: 2em;
	padding: 0.25em 0;
	border-top: 1px solid #E6E6E6;
}

.painting-info-row:after {
	clear: both;
	content: "";
	display: table;
}

.painting-info-label {
	width: 40%;
	float: left;
	font-weight: bold;
}

.painting-info-value {
	margin-left: 0;
	width: 60%;
	float: left;
}

.painting-review {
	margin-bottom: 6em;
    border-top: 1px solid #E6E6E6;
}

.painting-review p {
	line-height: 1.4;
}

/* Blog Page */
.blog-nav-container {
	margin: 2em 0;
}

.blog-nav {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 0 auto;
	height: 3em;
	padding: 0;

}

.blog-nav a {
	font-size: 1.5em;
	color: #000;
}

.blog-nav a:hover {
	color: #E87058;
}

.blog-container-2 {
	display: flex;
	width: 100%;
	height: auto;
	background-color: #eee;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.blog-container-2:last-of-type {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.scale-container {
	height: 0;
	padding-bottom: 25%;
	position: relative;
}

.scale-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
}

.date-wrapper {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #000;
}

.blog-content {
	display: table-cell;
	vertical-align: middle;
	color: #000;
	padding-right: 2em;
}

.blog-content a {
	color: black;
}

.blog-content a:hover {
	color: #CC3935;
}

.scale-wrapper img {
	width: 100%;
}

.show-more {
	width: 100%;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.showmore-button {
	margin: 0 auto;
	width: 10em;
	height: 2.5em;
	font-size: 1.5em;
	font-weight: bold;
	color: #CC3935;
	background-color: white;
	border: 3px solid #CC3935;
	cursor: pointer;
	transition: background-color, 0.3s, ease;
}

.showmore-button:hover {
	color: white;
	background-color: #CC3935;
	/*border: 3px solid #CC3935;*/
}

/* Biography */
.full-wrapper {
	display: flex;
	width: 100%;
	height: auto;
	background-color: #eee;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.out-wrapper {
	height: 0;
	position: relative;
}

.set-height-15 {
	padding-bottom: 15%;
}

.set-height-25 {
	padding-bottom: 25%;
}

.set-height-30 {
	padding-bottom: 30%;
}

.set-height-50 {
	padding-bottom: 50%;
}

.in-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
}

.content-container {
	display: table-cell;
	vertical-align: middle;
	color: #000;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.image-stretch {
	width: 100%;
}

.set-padding-15 {
	padding: 0 15%;
}

.set-padding-5 {
	padding: 0 5%;
}



/* Footer */
footer {/*
	position: relative;
	top: -4.375em;*/
	background-color: #2A1F26;
	height: 40em;
	text-align: center;
	padding-top: 7em;
}

footer .big-title {
	margin-bottom: 0.5em;
}

.newsletter p {
	padding: 0.5em;
}


/* Form */
.subscribe-form {
	height: 5em;
	width: 90%;
	/*border: 1px solid #ccc;*/
	margin: 2em auto;
	text-align: center;
}

.subscribe-input {
	width: 70%;
	height: 3em;
	font-size: 1.5em;
	padding: 1em;
}

.subscribe-submit {
	height: 3em;
	width: 15%;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	background-color: #CC3935;
	border: 0px;
	cursor: pointer; 
}

.subscribe-submit:hover {
	border: 3px solid white;
}

.site-info {
	margin-top: 8em;
}

.site-info, .footer-nav a {
	color: #7A7A7A;
}

.footer-nav {
	display: flex;
	width: 50%;
	margin: 3em auto;
	padding: 0;
    font-size: 1.2em;
	justify-content: space-around;
}

.footer-nav a:hover {
	color: white;
}


