/* Reset */
* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-weight: normal;
}

/* Font */
@font-face {
    font-family: 'Marbre';
    src: url('../fonts/Marbre.eot');
    src: url('../fonts/Marbre.eot') format('embedded-opentype'),
         url('../fonts/Marbre.woff2') format('woff2'),
         url('../fonts/Marbre.woff') format('woff'),
         url('../fonts/Marbre.ttf') format('truetype'),
         url('../fonts/Marbre.svg#Marbre') format('svg');
}

@font-face {
    font-family: 'Marbre-Sans';
    src: url('../fonts/MarbreSans.eot');
    src: url('../fonts/MarbreSans.eot') format('embedded-opentype'),
         url('../fonts/MarbreSans.woff2') format('woff2'),
         url('../fonts/MarbreSans.woff') format('woff'),
         url('../fonts/MarbreSans.ttf') format('truetype'),
         url('../fonts/MarbreSans.svg#MarbreSans') format('svg');
}

/* General */

body {
	font-size: 1em;
	width: 100%;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: white;
	position: relative;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

h1.big-title {
	display: inline;
	font-size: 4.5em;
	font-family: 'Marbre-Sans', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom: 3px solid white;
	padding: 0 0.2em 0.1em;
}

h2.big-title {
	font-size: 3em;
	font-family: 'Marbre', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2.small-title {
	font-weight: bold;
}

h2.small-title, h3.small-title {
	font-size: 1.75em;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
	font-size: 1.25em;
}

a.read-more, a.read-more-red {
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    /* display: block; */
    padding-top: 0;
    /* width: 6em; */
    padding: 0.2em 0.5em;
    margin-top: 1em;
    margin-left: -0.5em;
}

a.read-more-red {
	color: black;
}

a.read-more:hover {
	border: 2px solid white;
}

a.read-more-red:hover {
	border: 2px solid #E87058;
}

/* Animation Effect */
.image-hover {
	position: relative;
	overflow: hidden;
}

.image-hover:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #282828;
    transition: opacity 0.3s linear;
}

.module {
	position: relative;
	z-index: 2;
}

.image-hover:hover:before {
	opacity: 0.7;
}


/* Header */

header {
	display: flex;
	max-width: 68rem;/*
	width: 100%;*/
	height: 4.375rem;
	margin: 0 auto;
	background-color: #2A1F26;/*
	position: relative;
	top: 0;
	z-index: 300;*/
	position: fixed;/*
	top: 2rem;*/
	left: 1%;
	right: 1%;
	z-index: 10;
}

.nav-icon {
	font-size: 2.3rem;
    padding: 0.4rem 1.8rem;
	display: none;
	/*position: relative;
	z-index: 2;*/
}


.logo-wrapper {
	width: 18rem;
	display: flex;
	align-items: center;
}

.header-logo{
	width: 10rem;
	margin: 0 auto;

}

img {
	max-width: 100%;
}

/* Main Navigation */
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50rem;
	padding-right: 2rem;
}

ul.menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 1.5rem;
	padding-left: 0;
	
	margin: 0;
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav a {
	opacity: 0.7;
	transition: opacity 0.3s;
}

nav a:hover {
	opacity: 1;
}

/* Slide Menu */
.slide-menu {
	position: fixed;
	/*top: 3.5rem;*/
	left: -18rem;
	height: 100%;
	width: 18rem;
	background-color: #2A1F26;
	transition: all .5s ease;
	transform: rotateY(-90deg);
}

.slide-menu-bar {
	font-size: 1.5rem;
	margin-top: 2.35em;
	padding: 0;
}

.slide-menu-bar li a {
	line-height: 2em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 0.5em 3em;
    display: block;
    margin-bottom: -1px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #2A1F26;
    transition: color 0.3s, background-color 0.3s;
}

.slide-menu-bar li a:hover {
	color: rgba(255, 255, 255, 1);
	background-color: #0f0b0e;
}

.site-wrapper {
	width: 100%;
    /*height: 100vh; */
    position: relative;
    overflow: hidden;
}

.site-canvas {
	transform: translateX(0);
	transition: all .5s ease;
}

.site-wrapper.display-nav .site-canvas {
	transform: translateX(18rem);
}

.site-wrapper.display-nav .slide-menu {
	transform-origin: 100% 50%;
	transform: perspective(600px) rotateY(0deg);

}


/* Main Banner */
.full-section {/*
	position: relative;
	top: -4.375em;*/
	width: 100%;
	height: 47.5em;
	background-image: url("../images/still-life-self-portrait.jpeg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-title {
	/*width: 100%;*/
	text-align: center;
}

/* Grid */
.grid-container, .grid-container-hide, .blog-container {
	display: flex;
	width: 100%;
	height: 25em;/*
	position: relative;
	top: -4.375em;*/
}

.grid-70 {
	width: 70%;
	padding: 2.35em 4.375em;
}

.grid-30 {
	width: 30%;
	padding: 2.35em 2.375em;

}

/* Full Section */
.module {

}

.home-story {
	background: #87614E;
}

.home-easel {
	background-image: url("../images/Frances-Hodgkins-at-her-easel_600.jpg");
	background-size: cover;
}

.home-wings {
	background-image: url("../images/wings-over-water_home.jpg");
	background-size: cover;
}

.home-double {
	background-image: url("../images/Double-portrait-No_home.jpg");
	background-size: cover;
}

.home-jugs {
	background-image: url("../images/Arrangement-of-jugs_home.jpg");
	background-size: cover;
}

/* Content */
.home-blog {
	display: flex;
	color: #000;
}

.home-blog-color {
	background-color: #FBFBFB;
}

.col-1-4 {
	margin-right: 6em;
	text-align: center;
}

.col-3-4 {
	padding-top: 1em;
}

.home-blog-title {
	margin-bottom: 2em;
}

.blog-day {
	font-size: 6em;
	font-family: 'Marbre', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #E87058; 
	margin: 0;
}

.blog-month {
	font-size: 2.25em;
	font-family: 'Marbre', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Footer */
footer {/*
	position: relative;
	top: -4.375em;*/
	background-color: #2A1F26;
	height: 40em;
	text-align: center;
	padding-top: 7em;
}

footer .big-title {
	margin-bottom: 0.5em;
}

.newsletter p {
	padding: 0.5em;
}


/* Form */
.subscribe-form {
	height: 5em;
	width: 90%;
	/*border: 1px solid #ccc;*/
	margin: 2em auto;
}

.subscribe-input {
	width: 70%;
	height: 3em;
	font-size: 1.5em;
	padding: 1em;
}

.subscribe-submit {
	height: 3em;
	width: 15%;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	background-color: #CC3935;
	border: 0px;
	cursor: pointer; 
}

.subscribe-submit:hover {
	border: 3px solid white;
}

.site-info {
	margin-top: 8em;
}

.site-info, .footer-nav a {
	color: #7A7A7A;
}

.footer-nav {
	display: flex;
	width: 50%;
	margin: 3em auto;
	padding: 0;
    font-size: 1.2em;
	justify-content: space-around;
}


